beautifulsoup4==4.12.3
EbookLib==0.18
feedgen==1.0.0
feedparser==6.0.11
gtts==2.5.3
jiwer==3.0.5
langdetect==1.0.9
lexical_diversity==0.1.1
Markdown==3.7
nltk==3.8.1
numpy==1.24.4
openai==1.53.0
pandas==2.2.3
psutil==5.9.8
pydub==0.25.1
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
readability_lxml==0.8.1
lxml_html_clean==0.3.1
lxml==5.2.2
Requests==2.32.3
schedule==1.2.2
scikit_learn==1.4.2
sentence_transformers==2.7.0
setuptools==65.5.1
spacy==3.7.0
streamlit==1.36.0
streamlit_option_menu==0.3.13
textblob==0.18.0.post0
textstat==0.7.3
tqdm==4.66.3
